# Python
__pycache__/
venv/
.env

# Node
node_modules/

# Backend generated folders
backend/uploads/
backend/outputs/

backend/uploads/*
backend/outputs/*
!.gitkeep

# Uploads & media
uploads/
*.mp4
*.avi
*.mov

# Logs
*.log

# OS
.DS_Store
